@using DiscoverU.Application.Dtos.QuestionDto
@using DiscoverU.Application.Dtos.ResponseDto
@inject NavigationManager Navigation


@if (question != null)
{
    <p class="w-full bg-gray-500 text-gray-100 p-6 rounded text-lg"><strong>@question.Text</strong></p>
    <hr class="my-4" />
    <div class="mt-4 space-y-4">
        @if (question.Options != null)
        {
            @foreach (var option in question.Options)
            {
                <button class="w-full bg-gray-200 text-gray-800 p-4 rounded-full" @onclick="@(() => HandleButtonClick(option.Id))">@(option.Text)</button>
            }
        }
    </div>
}
else
{
    <p>Loading...</p>
}

@code {
    [Parameter] public GetQuestionDto question { get; set; }
    [Parameter] public EventCallback<UserReponseDto> SelectedOptionEventCallBack { get; set; }


    private async Task HandleButtonClick(Guid _optionId)
    {
        if (question != null && question.Options != null)
        {
            var selectedOption = question.Options.FirstOrDefault(x => x.Id == _optionId);
            if (selectedOption != null)
            {
                var responseDto = new UserReponseDto
                    {
                        QuestionText = question.Text,
                        OptionText = selectedOption.Text
                    };

                await SelectedOptionEventCallBack.InvokeAsync(responseDto);
            }
        }
    }
}
