@page "/"
@inject IJSRuntime JSRuntime

<style>
    html, body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        overflow: hidden; /* Ensure no scrollbars appear */
    }

    .iframe-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }

    .full-screen-iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: none;
    }


</style>


<div class="iframe-container">
    <iframe src="https://my.spline.design/happyrobotbutton-1a12eafb622b4df86883c7c32bbe33ef/"
            class="full-screen-iframe"></iframe>
</div>


@code {
    protected override async Task OnInitializedAsync()
    {
        var dotNetObjRef = DotNetObjectReference.Create(this);
        await JSRuntime.InvokeVoidAsync("onResize", dotNetObjRef);
    }
}
